@font-face {
    font-family: 'avenirbold1';
    src: url('../fonts/avenir/avenirbold-webfont.eot');
    src: url('../fonts/avenir/avenirbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir/avenirbold-webfont.woff2') format('woff2'),
         url('../fonts/avenir/avenirbold-webfont.woff') format('woff'),
         url('../fonts/avenir/avenirbold-webfont.ttf') format('truetype'),
         url('../fonts/avenir/avenirbold-webfont.svg#surrounding__.bold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'avenirregular1';
    src: url('../fonts/avenir/avenirregular-webfont.eot');
    src: url('../fonts/avenir/avenirregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/avenir/avenirregular-webfont.woff2') format('woff2'),
         url('../fonts/avenir/avenirregular-webfont.woff') format('woff'),
         url('../fonts/avenir/avenirregular-webfont.ttf') format('truetype'),
         url('../fonts/avenir/avenirregular-webfont.svg#surrounding__.regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*7/16/15*/

@font-face {
font-family: 'avenirlight';
font-style: normal;
font-weight: normal;
src: local('../fonts/avenirnew/Avenir LT Std 35 Light'), url('../fonts/avenirnew/AvenirLTStd-Light.woff') format('woff');
}

@font-face {
font-family: 'avenirblack';
font-style: normal;
font-weight: normal;
src: local('../fonts/avenirnew/Avenir LT Std 95 Black'), url('../fonts/avenirnew/AvenirLTStd-Black.woff') format('woff');
}

@font-face {
font-family: 'avenirmedium';
font-style: normal;
font-weight: normal;
src: local('../fonts/avenirnew/Avenir LT Std 65 Medium'), url('../fonts/avenirnew/AvenirLTStd-Medium.woff') format('woff');
}

@font-face {
font-family: 'avenirheavy';
font-style: normal;
font-weight: normal;
src: local('../fonts/avenirnew/Avenir LT Std 85 Heavy'), url('../fonts/avenirnew/AvenirLTStd-Heavy.woff') format('woff');
}



/*7/16/15*/
body{font-family: 'avenirregular';} 
p{font-size: 16px;font-family: 'avenirlight';line-height: 50px;margin: 0px;}

h1{margin: 0px;}
input, textarea{font-family: 'avenirbold'!important;font-size: 1.3em!important;}
ul{padding: 0px;margin: 0px;}
a{color: #fff;transition: linear .3s;-moz-transition: linear .3s;-webkit-transition: linear .3s;-o-transition: linear .3s;}
a:hover{text-decoration: none;color: #F20F4C;}
a:focus{color: #00ffff;text-decoration: none;}
.main-menu li{display: inline-block;}
.main-menu p{text-transform: uppercase;}
header{background-color: rgba(15, 15, 13, 0.8);overflow: hidden;position: fixed;z-index: 1;width: 100%;}
.navbar-inverse{background-color: rgba(15, 15, 13, 0.8);}
.logo img{padding: 5px;}
.main-menu .col-md-5, .main-menu .col-md-4{margin-top: 10px;}
.main-menu .col-md-5 li:nth-child(2){float: right;}
.main-menu .col-md-4 {text-align: right;}
.main-menu .col-md-4 li{padding: 0px 10px;}
.main-menu .col-md-4 li p{font-size: 1em;}
#section1{height: 500px;position: relative;text-align: center;}
#section1 p, h1{color: #fff;}






.googleplay-btn li{display: inline-block;}
.googleplay-btn img{width: 120px;}
.section1-main-design{position: relative;}
.section1-main-design-content{position: absolute;text-align: center;width: 100%;  top: 14px;left: 25px}
.section1-main-design-content li{padding: 10px;display: block;}
.section1-main-design-content li:nth-child(1) a{color: #2B2828;}
.section1-main-design-content a{font-size: 1.5em;}
#section2, #section8, #section10{background-color: #2B2828;text-align: center;}
#section2 .container, #section8 .container, #section10 .container{padding: 40px 100px;}
.section2-desc p, .section8-desc p, .section10-desc p{color: #fff;}
#section3{text-align: center;padding: 10px;background-color: #ECECEC;}
ul.section3-desc li{display: inline-block;}
#section3 li.col-md-4{display: block;}
#section3 li.col-md-4 h1{font-size: 4em;}
#section3 h1, li{color: #282727;}
#section4{padding-top: 50px;background-color: #2B2828;}
#section4 .col-md-6 img{width: 230px;}
.section4-title p{text-align: center;font-size: 2em;letter-spacing: 5px;}
.section4-desc p{text-align: right;}
#section4 p{color: #fff;}
#section5{padding-top: 50px;background-color: #ECECEC;}
#section5 .col-md-4{text-align: center;}
.section5-desc p{font-size: 1.8em;line-height: 40px;color: #2B2828;}
.section5-title h1{color: #2B2828;margin-bottom: 30px;}
#section6 img{width: 100%;}
#section7 {text-align: center;padding-top: 50px;}
#section9 img{width: 100%;}
#section9{position: relative;}

/*7/16/15*/
.section9-content{top: 50%;left: 30%;margin-right: -50%;transform: translate(-50%, -50%);position: absolute;-moz-transform: translate(-50%, -50%);position: absolute;-webkit-transform: translate(-50%, -50%);position: absolute;-o-transform: translate(-50%, -50%);position: absolute;}

.section9-content p,h1{color: #fff;}
.section9-title{text-align: center;width: 500px;left: 10;padding-right: 173px;margin-bottom: 50px;}
.section9-desc p{font-size: 2em;}
.section9-desc{width: 300px;margin: 0 auto;}
.become-club-partner-btn{padding-left: 200px;margin-top: 50px;text-align: center;}
.become-club-partner-btn p{letter-spacing: 5px;}
.become-club-partner-btn a{padding: 10px 60px;border: 2px solid #fff;}
.club-list-btn a{padding: 10px 60px;border: 2px solid #fff;}
.club-list-btn a{font-family: 'avenirheavy';}
.club-list-btn p{letter-spacing: 5px;display: inline-block;color: #fff;font-family: 'avenirheavy';padding: 0px 60px!important;border: 2px solid #fff;cursor: pointer;}
.club-list-btn p:hover{  -webkit-transition: linear .3s;  -moz-transition: linear .3s;  -o-transition: linear .3s; color: #F20F4C;}
.find-out-btn{text-align: right;}
.find-out-btn p{font-family: 'avenirheavy';}
.find-out-btn a{padding: 15px 80px!important;border: 2px solid #fff;}
#section11{padding: 50px;}
#section11 a{color: #000;font-size: .8em;color: #5B5959;}
#section11 a:hover{text-decoration: none;color: #F20F4C;}
#section11 p{line-height: 20px;}
#section11 li{display: block;}
.social a{color: #5B5959; font-size: 2em;  padding: 0px 15px;}
.social li{display: inline-block;}
.social{margin-top: 30px;}
.social a:hover{text-decoration: none;color: #F20F4C;}
#section12{padding-bottom: 50px;}
#section12 .googleplay-btn{margin-top: 25px;}
.subscribe{float: right;}
.subscribe input:nth-child(1){width: 250px;padding-left: 10px;}
.subscribe input:nth-child(2){background-color: #5B5959;color: #fff;padding: 1px 20px;}
.subscribe input:nth-child(2):hover{background-color: #F20F4C;border: 2px solid #F20F4C;transition: linear .3s;-moz-transition: linear .3s;-webkit-transition: linear .3s;-o-transition: linear .3s;}
.subscribe input{border: 2px solid #5B5959;}
.subscribe-title p{color: #5B5959;}
.section1-main-design-content a:nth-child(1):hover{color: #F20F4C;}
.navbar-brand{padding: 0px;}
nav{display: none;}
nav p{font-size: 16px;text-transform: uppercase;line-height: 50px;}
.section1-res-des {display: none;}
.section1-res-des li{display: inline-block;padding: 30px 0px 10px 0px;}
.section1-res-des a{font-size: 1.5em;}
.section1-res-des img{float: left;}
.section1-res-des span{color: #fff; font-size: 2em;}
.fa-facebook:hover {color: #4a6ea9;}
.fa-twitter:hover{color: #2caae4;}
.fa-instagram:hover{color: #375989;}
.fa-youtube-play:hover{color: #DD0E0E;}
.social a:hover{color: #5B5959!important;}
.login-title{width: 30%;margin: 0 auto;}
.section1-subtitle p{line-height: 20px; font-size: 1em;}
.login .section1-content{width: 100%;}
.login-wrap{background-color: rgba(0, 0, 0, 0.8);margin-bottom: 50px;}
.login-wrap .section1-subtitle p{font-weight: 100;}
.login-title{padding: 10px;}
.login-form{width: 30%;margin: 0 auto;overflow: hidden;}
.login-form input{border: none;}
.login-form .col-md-12{padding: 20px;background-color: #232323;}
.main-form input{width: 100%;padding: 12px 10px;}
.main-form{text-align: left;}
.checkbox input{width: auto;float: left;}
.checkbox span{color: #fff;font-family: 'avenirregular';font-size: 1.3em;}
.login-submit input{padding: 3px 50px;background-color: #BD262D; color: #fff;font-weight: 600;}
.login-submit input:hover{background-color: transparent; color: #BD262D;}
#section11 .col-md-3 li:nth-child(1) p{font-size: 1.3em;font-weight: 600;}
#register{overflow: hidden;background-color: #0f0f0f;}
#register #section1{padding-top: 150px;}
#register .section1-title{margin-bottom: 50px;}
#register .section1-desc p{font-size: 1.5em;}
hr{  border-bottom: 3px solid #727171;border-top: 1px solid #282828; margin: 10px 0px;}
#register input{width: 100%;padding: 10px; background-color: #eaeaea;border: 1px solid #464646;}
#register .left.col-md-6{padding: 0px 15px 0px 0px;}
#regiter .col-md-5, #register .col-md-7{padding: 30px;}
#register .right.col-md-6{padding: 0px 0px 0px 15px;}
#register #section2, #register #section3{text-align: left;background: #0f0f0f;}
#register .col-md-7 .input2 input{margin-top: 33px}
#register .col-md-7 input:nth-child(11){margin-top: 50px;}
#register p{color: #fff;}
#register .col-md-5 li{display: block;margin-bottom: 33px;}
#register .col-md-5 li:nth-child(3){  margin-top: 400px;}
.registration-form .col-md-5 p{font-weight: 600;}
#register .col-md-5{padding-top: 30px;}
#register #section3{background-color: #0f0f0f;}
#register span p{font-family: inherit; font-size: 1em;padding: 10px 20px;line-height: 20px;background-color: #e55757;color: #fff;}
#register label{width: 100%;font-weight: 100;}
.form-control{border-radius: 0px;padding: 20px!important;}
#register p.main-label{font-size: 1.5em;}
#register .radio{overflow: hidden;margin-top: 40px;}
#register .radio input{width: auto;margin-top: 20px;}
#register .radio label.col-md-6{width: 50%!important;}
#register #section3 .col-md-5 li:nth-child(3){margin: 0px 0px 50px 0px;}
#section3 .container{padding: 10px 100px;}
#section3 label{margin-bottom: 50px;}
textarea{margin-top: 35px;width: 100%;padding: 10px; background-color: #eaeaea;border: 1px solid #464646;resize:none;height: 150px;}
.submit{text-align: center;margin-top: 100px;}
.submit input{text-transform: uppercase;font-weight: 600; width: auto!important;padding: 10px 60px!important;font-size: 1.5em;}
#register #section2 .input11 {margin-top: 20px;}
.login-form-wrap label{width: 100%;font-weight: 100;}
.login-form-wrap span p{font-family: inherit; font-size: 1em;padding: 10px 20px;line-height: 20px;background-color: #e55757;color: #fff;}
.label-res span{color: #e55757;}
.label-res{display: none;}
.forgot-pass{float: right;}
.forgot-pass a{text-decoration: underline;letter-spacing: 1px;}





a .broken-link{text-decoration: line-through;color: #4d4d4d;}
a.broken-link{text-decoration: line-through;color: #4d4d4d;}




        .modal.in .modal-dialog{z-index: 9999999;width: 450px;top: 90px;margin: 0 auto;}
        .modal-body{overflow: hidden;}
        .modal-content{border-radius: 0px;}
        button.close{position: absolute;z-index: 1;right: 0;right: -35px;top: -40px;color: #D1D1D1;}
        button.close span {font-size: 2.5em;}
        .popup-header{color: #fff;}
        .popup-header .col-md-9{text-align: right;background-color: #989899;}
        .popup-header .col-md-3{background-color: #F40F4C;text-align: center;}
        .pop-up-body p{font-size: 1em;line-height: inherit;}
        .pop-up-body .col-md-8, .pop-up-body .col-md-4{padding: 5px 0px;}
        .pop-up-body .col-md-4{text-align: right;}
        .pop-up-body .col-md-8 p{line-height: 20px;}
        .pop-up-body .info{color: #F40F4C;}
        .popup-header p{line-height: inherit;}
        .section1-main-design-content a{cursor: pointer;}
        .section1-res-des a {cursor: pointer;}





.modal-backdrop.in{opacity: .9}
.qr .modal.in .modal-dialog{width: inherit;}
.qr button.close{right: 150px;}
.qr p{line-height: inherit;font-size: 20px;color: #fff;}
.qr .modal-content {background: transparent;height: 500px;}
.qr .content {width: 960px;margin: 0 auto;text-align: center;}
.qr .title p{font-family: 'avenirbold';font-size: 3em;}
.qr .view-qr{position: relative;margin-top: 20px;}
.qr .button{position: absolute;bottom: -40px;left: 133px;}
.googleplay-btn img{cursor: pointer;}



/*7/16/15*/
.logo img{width: 210px;}
#section4 .bottom {display: none;}
.section1-content{top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%);position: absolute;-webkit-transform: translate(-50%, -50%);position: absolute;-moz-transform: translate(-50%, -50%);position: absolute;-o-transform: translate(-50%, -50%);position: absolute;}
#section1 .section1-title{font-family: 'avenirblack';}
header #main-header .col-md-5 ul li p{font-family: 'avenirblack';}
header #main-header .col-md-4 ul li p{font-family: 'avenirlight';}
#section1 .section1-subtitle p{font-family: 'avenirmedium';}
.section1-main-design-content a{font-family: 'avenirblack';}
#section2 .section2-title h1{font-family: 'avenirblack';}
#section1 .googleplay-btn {padding: 30px 0px;}
#section1 .googleplay-btn img {padding: 0px 5px;}
#section3{padding: 0px!important;}
.seehow p{font-family: 'avenirblack';color: #fff;}
#section3 li.col-md-4 h1{font-family: 'avenirblack';}
ul.section3-desc li{font-family: 'avenirlight';}
ul.section3-desc li span{font-family: 'avenirblack';}
.section4-title p{font-family: 'avenirblack';}
.section4-desc p{font-family: 'avenirmedium';}
.section5-title h1{font-family: 'avenirheavy';}
#section8 .section2-title{font-family: 'avenirheavy';}
.section9-title h1{font-family: 'avenirblack';}
.section9-desc{width: 400px!important;text-align: center;}
.become-club-partner-btn a{font-family: 'avenirheavy';padding: 15px 60px!important;}

#section11 .col-md-3 li:nth-child(1) p{font-family: 'avenirheavy';}
.subscribe-title p{font-family: 'avenirheavy';}
input {font-family: 'avenirlight'!important;}
.section2-desc p{font-size: 1.3em;}
.section1-res-des a{font-family: 'avenirblack';}
p{word-wrap: break-word!important;}
h1{word-wrap: break-word!important;}
.section9-content{width: 100%;}
header #main-header .col-md-5 ul li p{font-size: 14px;}
.logo img{width: 154px;margin-top: 4px;}
.login-title .section1-title h1{ font-size: 3em;}
.login-title .section1-subtitle p{  font-size: 14px;margin-top: 5px}
.main-menu .col-md-5, .main-menu .col-md-4{margin-top: 4px;}
.section5-title h1{font-size: 3em;}
.section5-desc{width: 600px;font-size: 10px;}
#section8 .section2-title p{font-size: 4em;}
#section8 .section2-desc{  width: 800px;margin: 0 auto;margin-top: 20px;}
.section9-title{margin: 0 auto;width: 700px;}
.section9-title h1{font-size: 4em;}
.section9-desc{  padding: 20px 0px;margin-right: 528px;}
.section9-desc p{line-height: 40px;}
.become-club-partner-btn{margin-top: 30px;}


.dropdown-element{text-align: left;display: none;}
.dropdown-element-video{display: none;}
.dropdown-element li{font-family: 'avenirlight';color: #fff;display: block;line-height: 40px;}

.video-embed iframe{width: 560px!important;height: 315px!important;}
.seehow p{cursor: pointer;}
.seehow p:hover{ text-decoration: none;color: #F20F4C;-webkit-transition: linear .1s;-moz-transition: linear .1s;-o-transition: linear .1s;}
.qr .title p{font-family: 'avenirheavy';}
button.close span{font-family: 'avenirlight';}
.popup-header{clear: both;}
#section3 li.col-md-4 h1{margin-bottom: 10px;}
.dropdown-element-video{border-bottom: 2px solid #0f0f0f;overflow: hidden;}


#section1{font-family: 'avenirlight';}
.checkbox span{font-family: 'avenirlight';text-transform: uppercase;}
.login-submit input{font-family: 'avenirheavy'!important;}
.form-control{font-size: 1em!important;}
.forgot-pass a{font-family: 'avenirlight';}
.main-form input{margin: 5px 0px;}
.forgot-pass a{text-decoration: none;}
#register .section1-title h1{font-family: 'avenirblack';}
.registration-form .col-md-5 p{font-family: 'avenirblack';font-size: 1.6em;}

/*9/28/15*/
#section2, #section4, #section8, #section10, .founded-by-friends{background: #2b2828;}
.founded-by-friends{padding: 50px;}
.founded-by-friends p{color: #fff;}
.founded-by-friends .sub-title p{font-size: 2em;letter-spacing: 5px;font-family: 'avenirblack';}
.seehow{background-color: #15b9a9;}
.content-wrapper .section-wrapper{margin-bottom: 250px;overflow: hidden;}
p{line-height: 40px;}
.section-wrapper{text-align: center;}
.section-wrapper .sub-title p{font-family: 'avenirheavy'; font-size: 35px;}
.section-wrapper .desc p{font-family: 'avenirmedium';}
.section-wrapper .col-md-6{min-height: 648px;position: relative;}
.section-wrapper .col-md-6 .text-wrap{position: absolute;top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);padding: 0px 30px;}
.section2-desc p{font-size: 23px;margin-top: 20px;}
.club-list-btn p{padding: 10px 60px!important;}
.seehow p{font-size: 30px; padding: 10px;}
.social a{font-size: 20px;padding: 0px 10px;}
#section12 .footer-menu li{display: inline-block;padding: 0px 10px;}
#section12 .footer-menu li a{color: #5B5959;font-family: 'avenirheavy';}
#section12 .footer-menu li a:hover{color: #F20F4C;}
footer .footer-menu{margin-top: 26px;text-align: center;}
.subscribe-title p{font-size: 20px;}
#section12{overflow: hidden;padding: 10px 0px;}
header{background-color: rgba(43, 40, 40, 0.9);}
.main-menu .col-md-5, .main-menu .col-md-4{margin-top: 15px;}
#section3 .container{padding: 80px 100px;}
#section3 img{width: 100%;}
.googleplay-btn img{width: inherit;}
.subscribe input:nth-child(1){width: 201px;}
footer .googleplay-btn img{width: 145px;}
#section12 .googleplay-btn{margin-top: 15px;}
.footer-menu a{font-size: 18px;}
.section-wrapper{margin-top: 100px;}

/*10/12/15*/
.section-wrapper .sub-title{margin-top: 35px;}

/* Leo */
#img-2 { position: absolute; left: 0; top: 0; display: none;}
#img-3 { position: absolute; left: 0; top: 0; display: none;}
#img-4 { position: absolute; left: 0; top: 0; display: none;}
#btm-img { display: none;}
.dropdown-element-video {}
.hide-desktop-phone {display: none;}

/*=============================*/

/*RESPONSIVE*/

/*=============================*/

@media screen and (max-width: 1300px) {
    .main-menu .col-md-5 p{font-size: 20px;}
    .section9-title{width: auto;left: auto;padding: 0px;margin: 0px;}
    .section9-desc{width: auto!important;margin: 0px;padding: 5px 0px;}
    .become-club-partner-btn{margin: 0px!important;}
    .become-club-partner-btn{padding: 0px;}

    /*7/21/15*/
    .section9-content{top: 50%;left: 50%;margin-right: -50%;-webkit-transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);position: absolute;}
    .section9-content p, .section9-content h1{text-shadow: 2px 2px 5px #727272;}

    /*7/16/15*/
    .qr button.close{right: 0;}
}

@media screen and (max-width: 1199px){
    #waypoint-one { display: none !important;}
    #waypoint-one #img-2 { display: none;}
    #waypoint-one #img-3 { display: none;}
    #waypoint-one #img-4 { display: none;}
    #btm-img { display: block;}
    .hide-desktop-phone { display: block;}

    /*9/29/15*/
    #btm-img{display: none!important;}
}

@media screen and (max-width: 1117px) {
    .login-title{width: 50%;}
}

@media screen and (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    nav{display: block;}
    #main-header{display: none;}

    /*9/28/15*/
    .navbar-brand>img{width: 150px;}
    header{padding: 10px;overflow: visible;}
    .navbar-inverse .navbar-toggle{border: 0px;}
}

    /*7/21/15*/
@media screen and (max-width: 1036px) {
    #section11{padding: 10px;}
}



@media screen and (max-width: 991px) {
    #section4{text-align: center;}
    .section4-desc p{text-align: center;padding-bottom: 20px;}
    #section5{text-align: center;}
    #section11{text-align: center;}
    #section11 .col-md-3{padding: 10px;}
    #section12{text-align: center;}
    .subscribe{float: none;}
    #section11 .container{width: auto;}
    .section9-content{padding: 0px 50px;}
    .section1-content{padding: 0px 20px;}
    .section1-content{padding: 0px;}
    .login-form{width: 40%;}
    #register #section2 .col-md-5, #register #section3 .col-md-5{display: none;}
    #section2 .container, #section3 .container{padding: 0px;}
    #register .right.col-md-6, #register .left.col-md-6{padding: 0px;}
    #register .col-md-7 .input2 input{margin: 0px;}
    #register #section2 .input11{margin: 0px;}
    #section3 label{margin: 0px;}
    textarea{margin: 0px;}
    .submit{margin: 50px;}
    #register .radio{margin: 0px;}
    .label-res{display: block;}
    .qr .button{margin-top: 10px;position: initial;}
    .qr .content{width: 100%;}
    .popup-header .col-md-9{text-align: center;}

    /*7/21/15*/
    .container{width: inherit;}
    .section5-desc{width: inherit;}
    #section8 .section2-desc{width: inherit;}
    .section1-main-design-content{left: 0;}

    /*7/16/15*/
    #section4 .bottom{display: block;margin-top: 20px;}
    #section4 .top{display: none;}
    #section3 ul{padding: 15px 0px;}
    #section3 .container{padding: 40px 100px;}
    .dropdown-element-video iframe{width: 100%!important;}

    /*9/28/15*/
    .section-wrapper .col-md-6{min-height: inherit;}
    .section-wrapper .col-md-6 .text-wrap{position: inherit;-webkit-transform:inherit;-moz-transform:inherit;-o-transform:inherit;top: inherit;left: inherit;margin-right: inherit;padding: 0px;margin-top: 20px;}
    .content-wrapper .section-wrapper{margin: 80px 0px;}
    .sec-img img{margin: 0 auto;}
    .section-wrapper .sub-title p{font-size: 21px;margin-bottom: 20px;}
    .founded-by-friends{padding: 20px;}
    .founded-by-friends .sub-title{margin-bottom: 30px;}
    #section2 .container, #section3 .container{padding: 40px 15px;}
    .section2-desc p{font-size: 16px;}
}

@media screen and (max-width: 767px) {
    .navbar-header{padding: 10px;}
    .navbar-nav{padding: 0px 20px;}
    .login-wrap{margin-bottom: 30px;}
    #section3 .container{padding: 40px 15px;}
}

@media screen and (max-width: 677px) {
    .login-title{width: 90%;}
    .login-form{width: 60%;}
}

@media screen and (max-width: 621px) {
    p{font-size: 16px;line-height: 30px;}
    h1{font-size: 25px;}
    .section9-desc p, .section5-desc p{font-size: 16px;}
    #section11{padding: 10px;}
    .become-club-partner-btn p, .club-list-btn p{letter-spacing: 0px;}

    
    button.close{right: 0px;top: -50px;}

    /*7/16/15*/
    #section10 .section2-desc{padding: 20px 0px;}
    .section9-title h1{font-size: 2em;}
    .become-club-partner-btn a{font-size: 12px;padding: 5px 30px!important;}
    .club-list-btn a{font-size: 12px;padding: 5px 30px!important;}
}

@media screen and (max-width: 465px) {
    #section10 .container{padding: 20px;}
    .section9-content{padding: 0px 20px;}
    .section1-content{width: 100%;}
    .section1-main-design img{width: 100%;}
    .section1-main-design-content li{padding: 5px;}
    #section7 img{width: 100%;}
    .login-form{width: 90%;}

    
    .modal.in .modal-dialog{width: 100%;}

    /*7/16/15*/
    .section9-desc{width: 100%!important;}

    /*9/28/15*/
    .section-wrapper .sub-title p{line-height: 30px;}
}

@media screen and (max-width: 430px) {
    .section1-main-design-content li{padding: 3px;}
    .section1-res-des{display: block;}
    .section1-main-design{display: none;}

    /*7/16/15*/
    .qr img.qr-img {width: 100%;}
    .section1-res-des a{padding: 10px;border-radius: 5px; background-color: #F20F4C;}
    .section1-res-des a:hover{background-color: transparent;color:#F20F4C; }
    .become-club-partner-btn a{font-size: 10px;}
    .club-list-btn a{font-size: 10px;}
}

@media screen and (max-width: 427px) {
    .section1-res-des a{font-size: 1em;}
    .become-club-partner-btn{margin-top: 0px;}
    #section2 .container {padding: 10px 20px;}
    #section8 .container{padding: 10px 20px;}
    .section1-res-des span{font-size: 1em;}
    .section1-res-des li{padding: 45px 0px 10px 0px;}
    #register .col-md-7{padding: 0px;}
}

/*9/29/15*/
@media screen and (max-width: 402px) {
    .subscribe input:nth-child(1){margin-bottom: 10px;width: 100%;border: 1px solid #5B5959;margin-top: 10px;}
    .social{margin: 20px 0px;}
    #section12 .footer-menu li{display: block;margin-bottom: 5px;}
    .googleplay-btn ul{padding: 0px 50px;}
    .googleplay-btn li{display: block;margin-bottom: 30px;}
    .googleplay-btn li img{width: 100%;}
    #section1{height: 550px;}
    .section1-content{margin-top: 90px;}
    .section2-desc p, .founded-by-friends .desc p, .section-wrapper .desc p{font-size: 12px;}
    .founded-by-friends .sub-title p{font-size: 25px;}
    .seehow p{font-size: inherit;}
    #section3{padding-left: 30px;padding-right: 30px;}
    #section2 .section2-title h1{font-size: 24px;}
}

/*9/29/15*/
@media screen and (max-width: 370px) {
    .section1-content{margin-top: 50px;}
}

@media screen and (max-width: 352px) {
    .section1-res-des img{float: none;}
    .section1-res-des li{padding: 0px;}
    .section1-title{padding-top: 100px;}
    input{width: 100%!important;}
    .login-title .section1-title{padding: 0px;}
    .checkbox input[type=checkbox]{left: -80px;}
    #register #section1{padding: 0px;}
    .submit input{width: 100%!important;padding: 0px!important;}
    .submit{margin-top: 10px;}
    #section4 .col-md-6 img{width: 100%;}
    
    /*7/16/15*/
    .section1-res-des ul{margin-top: 20px;}
    .section9-desc p, .section5-desc p{line-height: inherit;}

    /*9/28/15*/
    .subscribe-form input[type=submit]{width: inherit!important;}
}

@media screen and (max-width: 349px) {
    .become-club-partner-btn p{font-size: 14px;}
    .club-list-btn p{font-size: 14px;}
}

@media screen and (max-width: 328px) {
    .become-club-partner-btn p{font-size: 12px;}
    .club-list-btn p{font-size: 12px;}
    .section1-title{padding-top: 50px;}
    .login-title .section1-title{padding: 0px;}
}

@media screen and (max-width: 307px) {
    .become-club-partner-btn p{font-size: 10px;}
    .club-list-btn p{font-size: 10px;}
}

@media screen and (max-width: 286px) {
    .become-club-partner-btn a{padding: 10px;}
    .club-list-btn a{padding: 10px;}
    h1{font-size: 20px;}
    p{line-height: 20px;}
    .section2-desc{margin-top: 10px;}
    .section9-desc{margin-bottom: 5px;}
}
